<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            </form>
            <form action="/folders/<%= isRoot ? 'my-drive': folder.id %>/new" method="post" class="authform">
                <label for="folderName">Folder name</label>
                <input value="<%= typeof errors != 'undefined' ? folder.name : '' %>" name="folderName"
                    placeholder="Folder name" type="text" />
                <%- include("partials/errors.ejs") %>

                    <input type="submit" value="Upload">

            </form>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>