<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            </form>
            <form action="/files/<%= file.id %>/delete" method="post" class="authform">
                <p>Are you sure to delete this file</p>
                <input type="hidden" name="fileId" value=file.id>
                <%- include("partials/errors.ejs") %>

                    <input class="form-control is-invalid" type="submit" value="Submit">

            </form>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>